.NetworkListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-green-light);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.NetworkListItem form {
  display: flex;
}

.NetworkListItem form,
.NetworkListItem form > * + * {
  margin-left: 1em;
}
